.team2{
    text-align: center;
    margin-top: 90px;
    background-color:#2D2C2C ;
    padding: 40px;
}
.team2 h1{
      font-family: "Poppins",sans-serif;
    font-weight: 300;
    font-size: 24px;
    word-spacing: 2px;
     letter-spacing: 2.5px;
     color: #BF9766;
     text-transform: uppercase;
}
.team2 h3{
     font-weight: 400;
    font-family: "Forum",sans-serif;
    font-size: 64px;
    margin-top: -10px;
    text-transform: capitalize;
    color: white;
}

.team2 div{
display: flex;
justify-content: center;
align-items: center;
}