.nav {
background-color: #2D2C2C;
  color: white;

  font-weight: 300;
  font-size: 16px;
  
}

.img {
  width: 228px;
  height: 58px;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 12px 40px;
  align-items: center;
  position: relative;
}
.nav-items {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
   font-family: "Poppins",sans-serif;
}
.nav-items button{
    font-size: 15px;
     font-weight: 300;
}
.down-items button {
  background-color: transparent;
  color: white;

  border: none;
}
.down-items {
  position: relative;
size: 20px;
  display: flex;
}
.down-link {
  display: none;
  position: absolute;
  background-color: white;
  top: 100%;
 width: 190px;
  padding: 12px 0;
  border-radius: 4px;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.2);
  
}
.link ,.down-items button{
  text-decoration: none;
  color: white;
}
.link-down {
  color: #333;
  padding: 10px 20px;
  display: block;
  font-size: 14px;
  text-decoration: none;
}
.link-down:hover {
  background-color: #f5f5f5;
  color: #d9a95b;
}

.down-items:hover .down-link  {
  display: flex;
  flex-direction: column;
  z-index: 99;
  
}
.arrow {
  height: 10px;
  width: 10px;
}
.down-items button:hover{
color:  #d9a95b;
}
.link:hover{
    color: #d9a95b;
}